.item-detail-card {
    padding: 0.1rem 4rem .4rem 4rem ;
    margin: auto;
    flex-wrap: wrap;
    flex-basis: 0;
    flex-grow: 1;

    .left_side {
        float: left;

        figure {
            display: block;
        }
        .image_product {
            object-fit: contain;
            max-width: 30rem;
        }
    }
    .right_side {
        border-radius: 15px;
        box-shadow: 1px 0 9px rgb(0,0,0, .3);
        padding: 1rem;

        p, h3 {
            line-height: 1.5;
        }
    }
}