@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Italiana&family=Rozha+One&display=swap');
@tailwindcss base;
@tailwindcss components;
@tailwindcss utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
