.container {
	display: flex;
    justify-content: center;
    margin: 0 auto;

    input {
        border: 1px solid pink;
        text-align: center;
    }
    input[type=button]{
        cursor: pointer;
    }
    input[type=text]{
        width: 5rem;
    }
	.btn__add {
        font-size: .8rem;
        text-transform: uppercase;
        font-weight: 600;
        padding: .2rem 2.35rem;
        border-radius: 10px;
		border: 1px solid pink;
	}
    .btn__add:focus{
        outline: none;
    }
    .btn__add:hover, input[type=button]:hover{
        border: 1px solid rgb(197, 124, 136);
        box-shadow: inset 0 1px 4px rgb(0, 0, 0, .1);
    }
}
