.header__container {
    height: auto;
    overflow-y: hidden !important;

    h1 {
        text-align:center;
        text-transform: lowercase;
        font-family: 'Meddon', cursive;
        font-size: 5rem;
        color: #f4dafc;
        text-overflow: ellipsis;
        text-shadow:0 1px 8px #c7dbe0;
        
    }
}