*, *::after, *::before {
  padding: 0;
  margin: 0;
}
#root {
  max-width: 100%;
  min-height: 100vh;
  background-color: rgb(15, 23, 42);
}
div .container_home {
  min-height: 100vh;
  max-height: max-content;
}
