.categoryNavc {
    position: sticky;
    width: 1100px;
    max-width:100%;
    background-color: transparent;
    margin: 2% auto;

    .nav-link {
        border: 1px solid salmon;
        color: salmon;
        border-radius: 25px;
        padding: 4px 12px;
    }
}