footer {
	overflow-x: hidden;
	position:unset;
	margin-bottom: 0 !important;
	bottom: 0 !important;
	left: 0;
	right: 0;

	// .container_footer {
	// 	width: auto;
	//   bottom: 0;
	// 	height: fit-content;
	// }

	section .main_row {
		width: 100%;
		bottom: 0;

		.footer_column {
			margin: 0;
		}
	}
}
