@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@media (max-width: 768px) {
  :root {
    color: #2800b9;
    background-color: #bdbdbd;
  }
  h1 {
    font-size: 2rem;
    line-height: 1.1;
  }
  a:hover {
    color: #50c900;
  }
}
