.header {
	background-color: rgb(138, 160, 231);

    .header__container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .logo {
            color: white;
            font-size: 2rem;
            font-weight: 600;
            text-transform: uppercase;
        }

        .navbar {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            .navbar__link {
                color: white;
                font-weight: 700;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
    }
}